.layout {
  min-height: 100vh;
  display: flex;
}

.main {
  flex: 1;
  margin-left: var(--sidebar-width);
  padding: var(--spacing-6);
  background-color: var(--color-gray-50);
}

@media (max-width: 1023px) {
  .main {
    margin-left: 0;
  }
}
